<div class="container">
  <div class="row">
    <div class="col-md-6 col-md-offset-3 text-center">
      <h1><em><span class="logo">Begin.fm</span></em></h1>
      <lead>Copy here...</lead>
    </div>
  </div>
  <div class="row">
    <div class="col-md-6 col-md-offset-3">
      <ul class="nav text-center">
        <li>
          <a href="mailto:dan85.cardenas@gmail.com?subject=Hello">Say Hi</a>
        </li> 
        <% if admin_signed_in? %>
          <span class="nav-line-break">|</span>
          <li><%= link_to 'New Episode', new_episode_path %></li>
        <% end %>
      </ul>
    </div>
  </div>
  <% @episodes.each do |episode| %>
    <div class="row">
      <div class="col-md-6 col-md-offset-3 episode-listings">
        <div class="row">
          <div class="col-sm-8 col-sm-offset-1 episode-listings-content">
            <ul>
              <li><h4><%= episode.title %></h4></li>
              <% if admin_signed_in? %>
                <li>
                  <p>
                    <%= link_to 'Edit', edit_episode_path(episode), class: "btn btn-primary" %>
                    <%= link_to 'Delete', episode, class: "btn btn-primary", method: :delete, data: { confirm: 'Are you sure?' } %>
                  </p>
                </li>
              <% end %>
              <li>
                <p><%= episode.description.truncate(140).html_safe %></p>
              </li>
              <li><p><%= link_to 'Listen to this episode', episode %></p></li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  <% end %>
</div>

