<div class="container">
  <div class="row">
    <div class="col-md-6 col-md-offset-3 text-center">
      <h1><em><strong>BEGIN.FM</strong></em></h1>
      <lead>Copy here...</lead>
    </div>
  </div>
  <div class="row">
    <div class="col-md-6 col-md-offset-3">
      <ul class="nav text-center">
        <li><%= link_to 'Say Hi', "#" %></li> <span class="nav-line-break">|</span>
        <li><%= link_to 'New Episode', new_episode_path %></li>
      </ul>
    </div>
  </div>
  <% @episodes.each do |episode| %>
    <div class="row">
      <div class="col-md-6 col-md-offset-3 episode-listings">
        <div class="row">
          <div class="col-sm-8 col-sm-offset-1 episode-listings-content">
            <ul>
              <li><h4><%= episode.title %></h4></li>
              <li>
                <p>
                <%= link_to 'Edit', edit_episode_path(episode) %> |
                <%= link_to 'Destroy', episode, method: :delete, data: { confirm: 'Are you sure?' } %>
                </p>
              </li>
              <li>
                <p><%= episode.description.truncate(140).html_safe %></p>
              </li>
              <li><p><%= link_to 'Listen to this episode', episode %></p></li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  <% end %>
</div>

